# ----------------------------------------
# Dependencies
# ----------------------------------------
node_modules/

# ----------------------------------------
# Playwright
# ----------------------------------------
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# ----------------------------------------
# Allure Reports
# ----------------------------------------
allure-results/
allure-report/

# ----------------------------------------
# Environment Variables
# ----------------------------------------
.env
.env.*
!.env.example

# ----------------------------------------
# Logs
# ----------------------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------
# IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# OS Files
# ----------------------------------------
.DS_Store
Thumbs.db